body {
  font-family: sans-serif;
}

code {
  font-family: monospace;
  color: red;
}

.li-color code {
  color: green;
}

#assignment-instructions {
  font-family: sans-serif;
  color: blue;
}

li {
  font-family: inherit;
}

li + li {
  background: black;
  color: white;
}

ol li {
  background: black;
  color: white;
}